<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>旅行线路列表</title>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

</head>

<style>

</style>



<body>
<!--<div th:replace="menu/left :: leftbar" ></div>-->
<!--<div th:replace="menu/top :: topbar"></div>-->


<div class="table">
    <h2 class="tablename">旅行线路列表</h2>
    <div style="margin-left:400px">
        关键字：
        <div class="layui-inline">
            <input class="layui-input" name="query" id="query" autocomplete="off">
        </div>
<!--        <span class="input-group-btn">-->
<!--        <select name="queryType" id="queryType" class="layui-select">-->
<!--            <option value="type" selected="selected">目的地</option>-->
<!--            <option value="department">··</option>-->
<!--            <option value="elective">选修类型</option>-->
<!--            <option value="teacher">任课老师</option>-->
<!--        </select>-->
<!--    </span>-->
        <button class="layui-btn layui-btn-sm" id="search">搜索</button>
    </div>
    <hr class="layui-bg-gray">
    <table class="layui-hide" id="ut" lay-filter="ut"></table>
</div>
<script type="text/html" id="barDemo">
    <shiro:hasPermission name="retrieve">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" >查看</a>
    </shiro:hasPermission>

    <shiro:hasPermission name="update">
        <a class="layui-btn layui-btn-xs" lay-event="edit" id="edit">编辑</a>
    </shiro:hasPermission>

    <shiro:hasPermission name="delete">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </shiro:hasPermission>

</script>

<script src="../layui/layui.js"></script>
<!--行工具栏-->
<script type="text/html" id="toolbar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" >查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="sign">报名</a>

</script>
<script th:inline="none">
    layui.use(['table', 'jquery', 'layer', "form"], function () {
        var table = layui.table;
        var $ = layui.jquery;
        //渲染数据表格
        table.render({
            elem: '#ut' // elem: document.getElementById('selectlist')
            , cellMinWidth: 80
            , url: '/travel/findAllPage' //数据接口
            , page: true //开启分页
            , id: 'ut'
            , cols: [[ //表头
                {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                {field: 'name', title: '线路名称'},
                {field: 'line', title: '具体线路'},
                {field: 'day', title: '所需天数'},
                {field: 'money', title: '所需费用'},
                {fixed: 'right',title: '操作', align: 'center', toolbar: '#toolbar'}
            ]]
        });
        //行工具栏进行监听
        table.on('tool(ut)', function (obj) {
            var $ = layui.jquery;
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'sign') {
                layer.confirm('是否确认报名？', function(index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    $.ajax({
                        url: '/ut/add',//退选
                        data: JSON.stringify(data),
                        contentType : 'application/json',
                        type: 'POST',
                        success: function (msg) {
                            if (msg == '1') {
                                layer.msg("报名成功!", {
                                    icon: 1,
                                    time: 1000,
                                    end: function () {
                                        window.location.reload();
                                    }
                                });
                            }
                        }
                    });
                    //layer.msg("报名成功!");
                });
            } else if (layEvent === 'detail'){
                layer.msg("查看成功!");
            }
        });

        //搜索提交监听
        $('#search').on('click', function () {
            var query = $("#query").val();
           // var queryType = $("#queryType option:selected").val();  , queryType: queryType
            table.reload('ut', {
                method: 'get',
                where: {query: query}, page: {curr: 1}
            });
        });
    });
</script>


</body>

</html>