
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>旅行社管理</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script th:src="@{/lib/js/jquery-3.4.1.min.js}"></script>
</head>
<style>
    .body{
        margin-left: 200px;
        float: left;
    }
    body{
        background-image: url("images/background/page_bg.JPG");
        background-size: 100%;

    }

</style>


<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
<!--        <ul class="layui-nav layui-layout-left">-->
<!--            <li class="layui-nav-item"><a  data-src="/visitor">控制台</a></li>-->
<!--            <li class="layui-nav-item"><a  data-src="/visitor">商品管理</a></li>-->
<!--            <li class="layui-nav-item"><a  data-src="/visitor">用户</a></li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">其它系统</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd class="main_left"><a  data-src="/visitor">邮件管理</a></dd>-->
<!--                    <dd class="main_left"><a  data-src="/visitor">消息管理</a></dd>-->
<!--                    <dd class="main_left"><a  data-src="/visitor">授权管理</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--        </ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img" th:text="${name }"/>
                </a>
                <dl class="layui-nav-child">
                    <dd class="main_left"><a  data-src="/toUser">个人中心</a></dd>
                    <dd class="main_left"><a data-src="/toTravel">参团信息</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">线路信息</a>

                    <dl class="layui-nav-child">
                        <dd class="main_left"><a  data-src="/toTravelList" target="_top">线路信息</a></dd>
<!--                        <dd class="main_left"><a  data-src="/visitor" target="_top">列表二</a></dd>-->
<!--                        <dd class="main_left"><a  data-src="/visitor" target="_top">列表三</a></dd>-->
                        <div shiro:hasPermission="add">
                            <dd class="main_left"><a  data-src="/visitor" target="_top">超链接</a></dd>
                        </div>
                    </dl>

                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">导游信息</a>
                    <dl class="layui-nav-child">
                        <dd class="main_left"><a  data-src="/toGuide" target="_top">导游信息</a></dd>
                        <dd class="main_left"><a  data-src="/test" target="_top">列表二</a></dd>
                        <dd class="main_left"><a  data-src="/test" target="_top">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/visitor" target="_top">云市场</a></li>
                <li class="layui-nav-item"><a href="/visitor" target="_top">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">

        <iframe frameborder="0" scrolling="yes" style="width: 100%" src="/index" id="aa">



        </iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="../layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
    $(function(){

        $(".main_left a").on("click",function(){
            var address =$(this).attr("data-src");
            $("iframe").attr("src",address);
        });

        var frame = $("#aa");
        var frameheight = $(window).height();
        console.log(frameheight);
        frame.css("height",frameheight);


    });
</script>
</body>
</html>